---
If:
  PathMatch: vkd3d-proton/.*
CompileFlags:
  CompilationDatabase: build/compile_commands/vkd3d-proton64/
---
If:
  PathMatch: dxvk/.*
CompileFlags:
  Add: [ -ferror-limit=0 ]
  CompilationDatabase: build/compile_commands/dxvk64/
---
If:
  PathMatch: dxvk-nvapi/.*
CompileFlags:
  CompilationDatabase: build/compile_commands/dxvk-nvapi64/
---
If:
  PathMatch: gstreamer/.*
CompileFlags:
  CompilationDatabase: build/compile_commands/gstreamer64/
---
If:
  PathMatch: wine/.*
CompileFlags:
  Add: [ -ferror-limit=0, -I/usr/include/gstreamer-1.0/, -I/usr/include/glib-2.0/]
  CompilationDatabase: build/compile_commands/wine64/
